<h1 class="ml-5 mb-5">Bonjour ! Veuillez confirmer votre email S.V.P.</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement.
</p>
